body {
	overflow-y: scroll;
}

.cursor-hand {
	cursor: pointer;
}

.survey-results {
	min-height: 18em;
}

.db-object-list {
	height: 15em;
	overflow-y: scroll;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
