<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\source\Cadastre\packages.config" />
  <repository path="..\source\SchemaSurveyor.Core.Tests\packages.config" />
  <repository path="..\source\SchemaSurveyor.Core\packages.config" />
  <repository path="..\source\SchemaSurveyor.Etl.Tests\packages.config" />
  <repository path="..\source\SchemaSurveyor.Etl\packages.config" />
  <repository path="..\source\SchemaSurveyor\packages.config" />
</repositories>